<div class="row">
    <div class="col-md-11">
        <div class="progress">
            <div class="progress-bar progress-bar-danger" style="width: 100%">Progress: 100%</div>
        </div>
    </div>
    <div class="col-md-1">
        <a ng-href="/apply/reset" class="btn btn-warning btn-xs btn-block">Reset</a>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h2 class="subline">Application denied</h2>
        <div class="alert alert-danger">
            <p>Sorry but it appears that one or multiple characters retrieved from your API Key is already belonging to one of our corporations ! You do not need to apply.</p>
            <p>If you are trying to apply for one of your alternate characters, please add directly your API Key on your Auth account.</p>
            <p>Otherwise, feel free to contact one of our HR person if you have any questions.</p>
        </div>
        <div class="text-center">
            <h3>
                <a href="#">Back to Auth</a>
            </h3>
        </div>

    </div>
</div>
