<div class="row">
    <div class="col-md-11">
        <div class="progress">
            <div class="progress-bar progress-bar-success" style="width: 100%">Progress: 100%</div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h2 class="subline">Application received !</h2>
        <div class="alert alert-success">
            <p>Congratulations ! Your application has been received and will be reviewed very soon !</p>
            <p>You will receive an email with further informations once your application has been reviewed.</p>
        </div>
        <div class="text-center">
            <h3>
                <a href="#">Back to J4LP</a>
            </h3>
        </div>

    </div>
</div>
